@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');
@import "tailwindcss";


@theme{
  --font-inter: Inter, "sans-serif";
  --font-playwrite: Playwrite, "sans-serif";
}

html, body {
  background-color: #151517;
}

.menuItem {
  @apply flex w-full text-left px-3 py-2 text-sm rounded-lg hover:bg-[#3a3a3c] transition;
}


/* Assistant Loader */
.dot {
  width: 8px;
  height: 8px;
  background-color: #9ca3af;
  border-radius: 50%;
  animation: glow 1.4s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes glow {
  0% {
    opacity: 0.3;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.4);
    box-shadow: 0 0 6px #ffffff33;

  }
  100% {
    opacity: 0.3;
    transform: scale(1);
  }
}


/* Hide Scrollbar */
.scroll-area {
  overflow-y: scroll;
  scrollbar-width: none; 
}

.scroll-area::-webkit-scrollbar {
  display: none;
}




/* Pill Shape Scrollbar */
.ds-scroll::-webkit-scrollbar {
  width: 6px;
}

.ds-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.ds-scroll::-webkit-scrollbar-thumb {
  background: #3C3C3D;
  border-radius: 9999px;
  transition: background 0.2s ease;
}

.ds-scroll::-webkit-scrollbar-thumb:hover {
  background: #3C3C3D;
}

/* Firefox */
.ds-scroll {
  
  scrollbar-width: thin;
  scrollbar-color: rgba(120, 120, 120, 0.35) transparent;
  
}




/* for custom toast in mobile */
.custom-toast {
  border-radius: 12px;
  padding: 12px 16px;
}

/* Mobile */
@media (max-width: 640px) {
  .custom-toast {
    width: 90% !important;
    margin-top: 12px !important;
    padding: 8px 12px !important;
    font-size: 14px;
    border-radius: 10px;
  }

  .Toastify__toast-container {
    padding: 0 12px;
  }
}


/* Fix Chrome autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #1B1B1C inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}
