@import "tailwindcss";

.menuItem {
  @apply flex w-full text-left px-3 py-2 text-sm rounded-lg hover:bg-[#3a3a3c] transition;
}

/* Hide Scrollbar */
.scroll-area {
  overflow-y: scroll;
  scrollbar-width: none; 
}

.scroll-area::-webkit-scrollbar {
  display: none;
}
