@import "tailwindcss";


html, body {
  background-color: #151517;
}

.menuItem {
  @apply flex w-full text-left px-3 py-2 text-sm rounded-lg hover:bg-[#3a3a3c] transition;
}


/* Assistant Loader */
.dot {
  width: 8px;
  height: 8px;
  background-color: #9ca3af;
  border-radius: 50%;
  animation: glow 1.4s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes glow {
  0% {
    opacity: 0.3;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.4);
    box-shadow: 0 0 6px #ffffff33;

  }
  100% {
    opacity: 0.3;
    transform: scale(1);
  }
}


/* Hide Scrollbar */
.scroll-area {
  overflow-y: scroll;
  scrollbar-width: none; 
}

.scroll-area::-webkit-scrollbar {
  display: none;
}
